@charset "UTF-8";

.header {
  border-bottom: 1px solid #014f52af;
}
.header .logo {
  background-image: url("../imagens/logo-horizontal.png");
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}
.sobre-nos-artigo {
  display: flex;
  flex-direction: column;
}
.sobre-nos {
  background-color: #fff;
  display: flex;
}
.sobre-nos-artigo .sobre-nos .img_sobre_nos {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center; 

}
.sobre-nos-artigo .sobre-nos .img_sobre_nos img {
  box-shadow: 0.5px 1px 1px #014f52af;
}
.sobre-nos-artigo .sobre-nos .text_sobre_nos {
    flex: 1;
}
.sobre-nos-artigo .sobre-nos .text_sobre_nos > h1 {
  color: var(--cor3);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.sobre-nos-artigo .sobre-nos .text_sobre_nos > h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: var(--cor2);
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}
.sobre-nos-artigo .sobre-nos .text_sobre_nos > p {
  margin-bottom: 2rem;
  text-align: justify;
  letter-spacing: 0.3px;
}
.artigo {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.artigo .text-artigo > h1 {
  color: var(--cor2);
  font-size: 2.5rem;
  font-weight: bold;
  margin: 2rem;
  text-align: center;
}
.artigo .text-artigo > p {
  color: #000;
  font-size: 1.4em;
  margin-bottom: 15px;
}
.artigo .img-artigo > div {
  background-color: var(--cor1);
}
.artigo .img-artigo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.artigo .img-artigo > div > p {
  color: #000;
  font-size: 1em;
  margin: 10px;
}
.artigo .img-artigo > div > .button {
  font-size: 14px;
  background-color: var(--cor2);
  padding: 5px 10px;
  width: 150px;
  color: #fff;
  background-color: var(--cor2);
  border: 1px solid #5555554f;
  border-radius: 25px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: auto;
  font-weight: bold;
}
.artigo .img-artigo .button:hover {
  background-color: #001025;
}
.artigo .img-artigo div {
  width: 320px;
  height: 400px;
  box-shadow: 0.5px 1px 1px #014f52af;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-top: 20px;
  padding: 5px;
}





















/*###############  Modo responsivo do site ##################*/
@media (min-width: 390px) and (max-width: 750px) {

}